doctype html 5
html
  head
    title= 'Swolemate - Dashboard'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
  body

  nav.navbar.navbar-default.navbar-fixed-top
    div.container
        div.navbar-header
            
