html {
  overflow-x: hidden; 
  width: 100%;
}

body {
  width: 100%;
}

.goalname {
  font-style: italic;
}

.goalname .completed{
  text-decoration: line-through;
}

form, table {display:inline; margin:0px; padding:0px;}